/output.xlsx
/Geothermal Temperatures Across Alberta.png
/Carbon storage across alberta.png
/Brine Lithium Concentrations Across Alberta.png
/Potential for cogeneration.png
/Subsurface Geothermal Temps.png
